{% extends 'base.html' %}
{% block content %}
<h1>Login</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ form.username.label }}
    {{ form.username(size=32) }}
    {{ form.password.label }}
    {{ form.password(size=32) }}

    {{ form.remember_me() }} {{ form.remember_me.label }}

    {{ form.submit() }}
</form>
{% endblock %}

