{% extends 'base.html' %}
{% block content %}
<h1>Sign Up</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}

    {{ form.username.label}}
    {{ form.username(size=32) }}
    {% for error in form.username.errors %}
    <span class="form__error">[{{ error }}]</span>
    {% endfor %}

    {{ form.email.label}}
    {{ form.email(size=64) }}
    {% for error in form.email.errors %}
    <span class="form__error">[{{ error }}]</span>
    {% endfor %}

    {{ form.password.label}}
    {{ form.password(size=32) }}
    {% for error in form.password.errors %}
    <span class="form__error">[{{ error }}]</span>
    {% endfor %}

    {{ form.password_confirm.label}}
    {{ form.password_confirm(size=32) }}
    {% for error in form.password_confirm.errors %}
    <span class="form__error">[{{ error }}]</span>
    {% endfor %}


    <div class="btns">
      {{ form.submit() }}
{% endblock %}

