{% extends 'base.html' %}
{% block content %}
<h1>500 - Internal Server Error</h1>
<p>This is our fault. The administrator has been notified. Sorry for any inconvenience.</p>
<p>Go <a href="{{ url_for('main.index') }}">home</a>?</p>
{% endblock %}
